body {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

* {
  height: auto;
  margin: 0 auto;
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  color: black;
  text-align: center;
}

.sidenav {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  background-color: #333;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
}

.sidenav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

.sidenav a.active {
  background-color: #4caf50;
  color: white;
}

.opts {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  margin-right: 0px;
  margin-left: 0px;
}

.addTicketDiv {
  width: 30%;
}

.addTicketButton {
  width: 100%;
  background: #555;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.addTicketButton:hover {
  width: 100%;
  margin: 10px;
  color: black;
  background: #bfbfbf;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border: none;
}
