.addTicketDiv {
  width: 30%;
}

.addTicketButton {
  width: 100%;
  background: #555;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.addTicketButton:hover {
  width: 100%;
  margin: 10px;
  color: black;
  background: #bfbfbf;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border: none;
}
