body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

* {
  height: auto;
  margin: 0 auto;
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  color: black;
  text-align: center;
}
