.testClass {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  top: 100px;
}

.ticketsTable {
  table-layout: fixed;
  width: 80%;
}

.ticketsTable tr {
  width: 80%;
  background-color: #eee;
  border-top: 1px solid #fff;
}

.ticketsTable th {
  background-color: #bfbfbf;
  height: 70px;

  cursor: default;
}

.ticketsTable td {
  padding: 3px 5px;
  text-align: center;
}

.ticketsTable tr:hover {
  cursor: pointer;
  background-color: #ccc;
}
