body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

* {
  height: auto;
  margin: 0 auto;
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  color: black;
  text-align: center;
}

.container {
  background-color: rgb(231, 229, 229);
  position: absolute;
  top: 100;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 80%;
  min-height: 500px;
  justify-content: space-around;
  border-radius: 15px;
}

.container p {
  text-align: center;
}

.container h1 {
  padding: 10px;
}

.container-details {
  min-width: 70%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.container-description {
  min-width: 70%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.container-rca {
  display: flex;
  align-items: center;
  min-width: 70%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.container-rca button {
  height: 15%;
}

.rca-hidden {
  display: none;
}

.rca-visible {
  display: block;
}

button {
  background: #555;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  margin: 10px;
  color: black;
  background: #bfbfbf;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border: none;
}
